
@media (prefers-color-scheme: dark) {
	:root {
		--background: rgb(12, 12, 12);
		--off-background: rgb(29, 29, 29);
		--root-button-border: rgb(51, 51, 51);
		--button-background: rgb(51, 51, 51);
		--text: rgb(255, 255, 255);
		--off-text: rgb(204, 204, 204);
		--tag-border: rgb(51, 51, 51);
		--selected: rgb(51, 51, 51);
	}
}

@media (prefers-color-scheme: light) {
	:root {
		--background: rgb(233, 233, 233);
		--off-background: rgb(245, 245, 245);
		--button-background: #f4f4f4;
		--tag-border: #949494;
		--selected: #b9b9b9;
		--root-button-border: rgb(161, 161, 161);
	}
}

html, body {
	position: relative;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	color: #333;
	margin: 0;
	padding: 8px;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	-ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
	overflow-y: hidden;
	background-color: var(--background);
}
body::-webkit-scrollbar {
  display: none;
}

a {
	color: rgb(0,100,200);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: rgb(0,80,160);
}

label {
	display: block;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	-webkit-padding: 0.4em 0;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid var(--root-button-border);
	border-radius: 2px;
}

input:disabled {
	color: #ccc;
}

button {
	color: var(--text);
	background-color: var(--button-background);
	border: 1px solid var(--root-button-border);
	outline: none;
}

button:disabled {
	color: #999;
}

button:not(:disabled):active {
	background-color: #ddd;
}

button:focus {
	border-color: #666;
}
